/* @override http://localhost:8888/css/screen.css */
/* @override http://pvel.local:8888/css/screen.css */

/* HTML5 RESET */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;margin:0;padding:0;} article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;} nav ul{list-style:none;} blockquote,q{quotes:none;} blockquote:before,blockquote:after,q:before,q:after{content:none;} a{font-size:100%;vertical-align:baseline;background:transparent;margin:0;padding:0;} ins{background-color:#ff9;color:#000;text-decoration:none;} mark{background-color:#ff9;color:#000;font-style:italic;font-weight:700;} del{text-decoration:line-through;} abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help;} table{border-collapse:collapse;border-spacing:0;} hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0;} input,select{vertical-align:middle;}

/* 
# MOBILE FIRST! This was actually a failed strategy because IE doesn't respect scale().  what a pickle!
# @media screen and (max-width:490px;)
#	
*/

.container {
	margin-left: auto;
	margin-right: auto;
	width: 320px;
}

.column,
.grid_1,
.grid_2,
.grid_3,
.grid_4 {
	display: inline;
	float: left;
	position: relative;
	margin-left: 10px;
	margin-right: 10px;
}

.grid_1 { width: 140px; }
.grid_2 { width: 300px; }
.grid_3 { width: 100%; }
.grid_4 { width: 620px; }


header hgroup {
	width: 320px;
	overflow: hidden;
}

.section {
	overflow: hidden;
	margin-bottom: 40px;
}

header .section {
	margin-bottom: 10px;
}

#gallery.section {
	margin-bottom: 10px;
}


.section p {
	margin: 0px 10px 1.2em;
}

#logo {
	-webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);
	-o-transform: scale(0.5);
	min-width: 630px;
	position: relative;
	left: -160px;
	top: -20px;
	height: 110px;
	margin-bottom: -24px!important;
}

header .grid_1 {
	width: 300px;
}

header p {
	line-height: 32px;
}

.download {
	margin: 20px 0 0 10px;
}

#features .grid_2 {
	width: 140px;
}

h2 {
	font-size: 32px!important;
}

.orphan {
	display: block;
}

.quote img {
	width: 55px;
	height: 55px;
	padding: 6px;
	border-radius: 5px;
	moz-border-radius: 5px;
	-o-border-radius: 5px;
	margin-right: 10px!important;
}

	
.quote .thumb {
	float: left;
	margin: 0 20px 20px 0;
}

footer p { margin: 0px 10px 60px; min-height: 16px; }

footer a { 
	color: #7073cf;
	background: url(../img/paravel.png) no-repeat 0px 8px;
	padding-left: 19px;
	position: relative;
	text-decoration: none;
}

footer a:hover, footer a:focus { text-decoration: underline; }


.thumb,
.largegallery img {
	background-color: #f4f1de;
	padding: 15px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
}

.largegallery img {
	margin-bottom: 20px;
	-webkit-transition: all 0.2s ease-out;
	-webkit-box-shadow: inset 0px 0px 7px rgba(57,52,22,0);
	-moz-box-shadow: inset 0px 0px 7px rgba(57,52,22,0);
	box-shadow: inset 0px 0px 7px rgba(57,52,22,0);
}


h2 {
	margin: 0 10px 0px;
}

header p {
	margin-bottom: 0!important;
}


.mini-thumb {
	margin-bottom: 20px;
	text-align: right;
}

/* 
#
# Typography 
#
*/

@font-face{font-family:'FranchiseRegular';src:url('/fonts/Franchise/franchise-bold-webfont.eot');src:local('☺'), url('/fonts/Franchise/franchise-bold-webfont.woff') format('woff'), url('/fonts/Franchise/franchise-bold-webfont.ttf') format('truetype'), url('/fonts/Franchise/franchise-bold-webfont.svg#webfontpJ3jCjex') format('svg');font-weight:normal;font-style:normal}


body {
	background-color: #2f3c45;
	color: #f4f1de;
	font: 16px/1.2 "ff-meta-serif-web-pro-1","ff-meta-serif-web-pro-2", georgia, serif;
}

header a {
	text-decoration: none;
	color: #e6c92e;
	font-size: 20px;
	font-style: italic;
	-webkit-transition: color 0.2s ease-out;
}

header a:hover {
	color: #e6c92e;
}

header p {
	font-size: 24px;
}

a {
	color: #e6c92e;
}

h2 {
	text-transform: uppercase;
	font: 42px 'FranchiseRegular','HelveticaNeue-Bold','League Gothic','Impact',sans-serif;
	color: #c44032;
}

#testimonials h2 {
	color: #e6c92e;
	margin-bottom: 10px;
}

#gallery h2 {
	color: #5da028;
}

.download {
	font: 19px 'FranchiseRegular','HelveticaNeue-Bold','League Gothic','Impact',sans-serif;
	color: #f4f1de;
	font-weight: normal;
	text-transform: uppercase;
	text-decoration: none;
	background: url(../img/download_btn.png) no-repeat -5px center;
	height: 55px;
	width: 160px;
	padding: 0px 10px;
	display: block;
	line-height: 60px;
	font-weight: normal;
	position: relative;
	top: -8px;
	left: -10px;
}

/* Lettering.JS logo */

#logo {
	text-transform: uppercase;
	font-family: 'FranchiseRegular','HelveticaNeue-Bold','League Gothic','Impact',sans-serif;
	font-size: 160px;
	margin-bottom: -32px;
	margin-left: 10px;
	color: #c44032;
	text-shadow: #863027 -4px 4px 0;
	margin-top: 30px;
}

#logo span {
	display: inline-block;
	position: relative;
	letter-spacing: -1px;
	-webkit-transition: all 0.2s ease-out;
}

#logo span:hover {
	top: 3px
}

#logo .char2, #logo .char11 {
	color: #e36b23;
	text-shadow: #9b4d1f -4px 4px 0
}

#logo .char3, #logo .char10 {
	z-index: 10;
	color: #e6c92e;
	text-shadow: #9c8b26 -4px 4px 0
}

#logo .char4, #logo .char9 {
	color: #5da028;
	text-shadow: #427021 -4px 4px 0
}

#logo .char5, #logo .char8 {
	color: #4584be;
	text-shadow: #2f597f -4px 4px 0
}

#logo .char6, #logo .char7 {
	color: #7073cf;
	text-shadow: #4a4d88 -4px 4px 0
}

#logo .char1 {
	-webkit-transform: rotate(-3deg)
}

#logo .char3 {
	top: -1px;
	-webkit-transform: rotate(2deg)
}

#logo .char4 {
	top: -7px
}

#logo .char6 {
	top: -7px;
	-webkit-transform: rotate(2deg)
}

#logo .char7 {
	
}

#logo .char8 {
	top: 1px;
	-webkit-transform: rotate(-2deg)
}

#logo .char9 {
	-webkit-transform: rotate(2deg)
}

#logo .char10 {
	top: -65px;
	width: 36px;
}

#logo .char10:hover {
	-webkit-transition-duration: 0.4s;
}

#logo .char11 {
	top: 2px;
	left: -30px;
	width: 50px;
	-webkit-transform: rotate(-3deg)
}

#logo .char12 {
	left: -24px
}


/*
#
# FULL SITE MEDIA QUERIES START HERE
# 
*/

@media screen and (min-width: 640px) {

/* Initialize the grid */
	.container { width: 640px; }
		
	.column, .grid_1, .grid_2, .grid_3, .grid_4 {
		display: inline;
		float: left;
		position: relative;
		margin-left: 10px;
		margin-right: 10px;
	}
	
	.alpha { margin-left: 0; }
	.omega { margin-right: 0; }
	.grid_1 { width: 140px!important; }
	.grid_2 { width: 300px; }
	.grid_3 { width: 460px; }
	.grid_4 { width: 620px; }
	.prefix_1 { padding-left: 160px; }
	.prefix_2 { padding-left: 320px; }
	.prefix_3 { padding-left: 480px; } 
	.suffix_1 {	padding-right: 160px; }
	.suffix_2 { padding-right: 320px; }
	.suffix_3 { padding-right: 480px; }


	#logo {
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-o-transform: scale(1);
		left: 0;
		top: 0;
		height: auto;
		margin-bottom: 0;
	}

	header hgroup {
		width: auto;
	}

	.section {
		margin-bottom: 60px;
	}
	
	header .section {
		margin-bottom: 30px;
	}
	
	.quote img {
		height: 110px;
		width: 110px;
		background-color: #f4f1de;
		padding: 15px;
		border-radius: 10px;
		-moz-border-radius: 10px;
		-o-border-radius: 10px;
	}
	
	.largegallery img:hover {
		-webkit-transition: all 0.2s ease-out;
		-webkit-box-shadow: inset 0px 0px 7px rgba(57,52,22,0.85);
		-moz-box-shadow: inset 0px 0px 7px rgba(57,52,22,0.85);
		box-shadow: inset 0px 0px 7px rgba(57,52,22,0.85);
		opacity: .9;
	}
	
	.orphan { display: none; }
	
	footer a {
		background-position: 2px 8px;
		padding-left: 18px;
	}
	
	.download {
		margin: 0;
	}

}
